html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightsteelblue;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
}

.nav-container li {
    display: inline-block;
    list-style-type: none;
}

.nav-container a {
    text-decoration: none;
}